body {
    /* background-image: url('bg-ocean.jpg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0; /* Ensure no default margin */
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
}

.card {
    padding-top: 10em;
    padding-bottom: 5em;
}

img {
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.date {
    background: #f26c3f;
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.time {
    background: #00b8b3;
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.weather {
    background: #f26c3f;
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

h1 {
    font-size: 3rem;
    color: white;
    text-align: center;
    font-family: "Yesteryear", cursive;
    font-weight: 400;
}